* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

.header {
    padding: 20px 60px;
    position: relative;
    z-index: 1000;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    font-weight: 700;
}

.nav_ico {
    width: 30px;
    transition: all 0.3s ease-in-out;
}

.nav_ico.active {
    margin-right: 140px;
}

.nav_ico span {
    width: 30px;
    display: block;
    height: 2px;
    margin: 4px 0;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav_ico span:first-child {
    width: 70%;
    margin: 0 15%;
}

.nav_ico span:last-child {
    width: 70%;
    margin: 0 15%;
}

.nav_ico.active span:nth-child(2) {
    opacity: 0;
}

.nav_ico.active span:first-child {
    transform: rotate(45deg);
    transform-origin: 10px 2px 0;
    width: 100%;
    margin: 0;
}

.nav_ico.active span:last-child {
    transform: rotate(-45deg);
    transform-origin: 5px -2px 0;
    width: 100%;
    margin: 0;
}
.side_nav-overlay {
    position: fixed;
    z-index: 988;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    background: transparent;
    transition: all 0.3s ease-in-out;
}

.side_nav-overlay.active {
    background: rgba(0, 0, 0, 0.7);
    pointer-events: auto;
}

.side_nav {
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 100px;
    background: #000;
    transition: all 0.3s ease-in-out;
    height: 100vh;
    width: 260px;
    transform: translateX(100%);
    z-index: 999;
}

.side_nav.active {
    transform: translateX(0%);
}

.side_nav ul {
    padding-top: 0;
    margin: 0;
    list-style: none;
}

.side_nav ul li {
    margin: 0;
}

.side_nav ul li a {
    display: block;
    padding: 15px 30px;
    border-bottom: 1px solid;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to right, #fff, #fff);
    background-position: right center;
    background-size: 0 100%;
    background-repeat: no-repeat;
}

.side_nav ul li a:hover {
    background-size: 100% 100%;
    color: #000;
    transition: all 0.3s ease-in-out;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

.rightcolumn a {
    text-decoration: none;
}

.fakeimg {
    object-fit: fill;
    background: url('image.jpeg');
    background-repeat: no-repeat;
    width: 100%;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}